@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    flex-direction: column;
}

#card{
    background-color: #1F1F1F;
    height: 555px;
    width: 340px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#profile{
    padding-bottom: 20px;
    text-align: center;
}

#profile-img{ 
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#profile p{
    width: 270px;
}

#name{
    font-size: 21px;
    font-weight: 600;
    padding: 15px 0 10px 0;
}

#location{
    font-size: 12px;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

#proffesion{
    padding-top:25px;
    font-size: 12px;
    font-weight: 400;
}
#buttons{
    display: flex;
    flex-direction: column;
    padding-top: 0px ;
}

#buttons a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 270px;
    color: white;
    border: none;
    margin:7px 0;
    padding:13px 0;
    background-color: #333333;
    border-radius: 5px;
    font-weight: 800;
    font-size: 12.5px;
    transition: 0.3s ease;
}

#buttons a:hover{
    background-color:hsl(75, 94%, 57%);
    color: black;
}

.attribution{
    font-size: 10px;
    padding-top: 30px;
    font-family: 'Inter';
}

.attribution p a{
    text-decoration: none;
    color: hsl(75, 94%, 57%);
}
@media (max-width: 375px){
    #card{
        height: 500px;
        width: 280px;
        border-radius: 10px;
    }
    
    #profile-img{
        height: 60px;
        width: 60px;
    }
    #profile p{
        width: 240px;
    }

    #name{
        font-size: 20px;
    }

    #location,#proffesion{
        font-size:11px;
    }
    #buttons a{
        width: 240px;
        font-size: 11.5px;
    }
}